Bio==1.8.1
claude_agent_sdk==0.1.10
dash==3.3.0
dash_bootstrap_components==2.0.4
dgl==2.2.1
easydict==1.13
easytorch==3.8.5
einops==0.8.1
fastapi==0.122.1
fastdtw==0.3.4
Flask==3.1.2
gensim==4.4.0
geopy==2.4.1
hyperopt==0.2.7
infomap==2.8.0
matplotlib==3.10.7
networkx==3.4.2
nltk==3.9.2
numpy==2.3.5
packaging==25.0
pandas==2.3.3
protobuf==6.33.1
ptflops==0.7.5
pydantic==2.12.5
pytorch_influence_functions==0.1.1
ray==2.24.0
reformer_pytorch==1.4.4
Requests==2.32.5
ruamel.base==1.0.0
scikit_learn==1.7.2
scipy==1.16.3
setproctitle==1.2.2
statsmodels==0.14.5
sympy==1.14.0
timm==1.0.22
torch==2.9.0
torch_geometric==2.7.0
torchdiffeq==0.2.5
torchtext==0.18.0
tqdm==4.67.1
tslearn==0.6.4
vertexai==1.71.1
wandb==0.23.0
